body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color: #E4ECEE;
}
.resources a{
    color: #E4ECEE;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}
.footer1:hover{
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
}
.footer1{
    margin-bottom: 5px;
    justify-content: center;
}
.footer2{
    margin-bottom: 5px;
    justify-content: center;
}
.footer2:hover{
    font-weight: bold;
    font-size:15px;
    text-decoration: underline;
}
.weblink{
    margin: 5px;
}

.weblink:hover{
    color: #6C72FF;
    font-weight: bold;
    font-size: 33px;
    text-decoration: underline;
}

.navigation > h1 {
    font-family: 'Glegoo', serif;
    font-size: 2rem;
    color: #063E8F;
}

.navigation {
    width: 100%;
    height: auto;
    background-color: #E4ECEE;
    padding-bottom: 20px;
}


header {
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav .navigation a {
    text-decoration: none;
    color: #063E8F;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: 'Glegoo', serif;
}

[class$=glegoo] {
    font-family: 'Glegoo', serif;
}

p {
    font-size: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h2 {
    font-family: 'Glegoo', serif;
}

footer { 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #E4ECEE;
    background-color: #063E8F;
}

h1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.text-common {
    width: 50%;
}
.split {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding : 1%;
    justify-content: space-around;
}

.split-right {
    flex-direction: row-reverse;
}

.split-text {
    width: 60%;
    padding: 1%;
    font-size: 100%;
}

.split-image {
width: 5px;
}

.divider {
    margin-top: 80px;
}

h3 {
    width: 50%;
    text-align: center;
    font-size: 24px;
}

h4 {
    width: 100%;
    text-align: center;
    font-size: 24px;
}
.button-container{
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
   height: auto;
}
.button a{
   color: #E4ECEE;
   padding: 50px;
   text-decoration: none;
}
.button{
    background-color: #094157;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 40px;
    border-radius: 40px;
}
.button:hover{
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
}
.half-image{
    width: 20px;
    height: 10px;
}


