body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color: #E4ECEE;
}
.resources a{
    color: #E4ECEE;
    text-decoration: none;
}
.resources{
    align-items: center;
    justify-content: center;
}
.footer1:hover{
    text-decoration: underline;
}
.footer1{
    font-size: 1rem;
    margin-bottom: 5px;
    justify-content: center;
}
.footer2{
    font-size: 1rem;
    margin-bottom: 5px;
}

.footer2:hover{
    text-decoration: underline;
}
.weblink{
    margin: 5px;
}

.weblink:hover{
    color: #6C72FF;
    font-weight: bold;
    font-size: 33px;
    text-decoration: underline;
}

.navigation > h1 {
    font-family: 'Glegoo', serif;
    font-size: 2rem;
    color: #063E8F;
}

.navigation {
    width: 100%;
    height: auto;
    background-color: #E4ECEE;
    padding-bottom: 20px;
}


header {
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav .navigation a {
    text-decoration: none;
    color: #063E8F;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: 'Glegoo', serif;
}

[class$=glegoo] {
    font-family: 'Glegoo', serif;
}

p {
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h2 {
    font-family: 'Glegoo', serif;
    text-decoration: underline;
}

footer { 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #E4ECEE;
    background-color: #063E8F;
}


h1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.split {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding : 1%;
    justify-content: space-around;
}
.section-text{
    width: 49%;
    padding: 1%;
    animation: slide-up 1.5s;
}

@keyframes slide-up{
    from{
        opacity: 0.2;
        line-height: 200px;
    }
    to{
        opacity: 1;
        line-height: 25px;
    }
}
.section-image{
    width: 49%;
}
.right{
flex-direction: row-reverse;
}
h3 {
    width: 50%;
    text-align: center;
    font-size: 24px;
}

h4 {
    width: 100%;
    text-align: center;
    font-size: 24px;
}
.button-container{
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
}
.button a{
   color: #E4ECEE;
   padding: 150px;
   text-decoration: none;
}
.button{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9)), url(images/League\ Game.jpg);
    width: 43%;
    display: flex;
    justify-content: center;
    margin: 30px;
    border-radius: 60px;
    font-size: 150%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.button:hover{
    text-decoration: underline;
}
.button2{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9)), url(images/Prevention.jpg);
    width: 43%;
    display: flex;
    justify-content: center;
    margin: 30px;
    border-radius: 60px;
    font-size: 150%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.button2:hover{
    text-decoration: underline;
}
.button2 a{
    color: #E4ECEE;
    padding: 150px;
    text-decoration: none;
}
.half-image{
    width: 20px;
    height: 10px;
}
.hero{
background: url(images/Password\ Hand.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
}
.home-picture2{
    background: url(images/home-picture3.png);
    width:100%;
    height: 50vh;
    background-size: cover;
}
.home-picture3{
    background: url(images/home-picture2.png);
    width:100%;
    height: 50vh;
    background-size: cover;
}
.LeagueGame{
    background: url(images/League\ Game.jpg);
    background-size: cover;
}
.malware{
    background: url(images/malware.jpg);
    width:100%;
    height: 50vh;
    background-size: cover; 
}
.fishing{
    background: url(images/fishing.jpg);
    width:100%;
    height: 50vh;
    background-position: middle;
    background-size: cover; 
}
.spearphishing{
    background: url(images/Spear\ Phishing.jpg);
    width:100%;
    height: 50vh;
    background-position: middle;
    background-size: cover; 
}
.MITM{
    background: url(images/MITM.jpg);
    width:100%;
    height: 50vh;
    background-position: middle;
    background-size: cover; 
}
.trojans{
    background: url(images/Trojan\ Malicious\ File.jpg);
    width:100%;
    height: 50vh;
    background-position: middle;
    background-size: cover; 
}
.divider-threats{
    margin-top: 10vh;
    text-align: center;
    font: 7em;
}
.DDOS{
    background: url(images/DDOS.jpg);
    width:100%;
    height: 50vh;
    background-position: bottom;
    background-size: contain; 
    
}
.Ransomware{
    background: url(images/Ransomware.jpg);
    width:100%;
    height: 50vh;
    background-size: cover; 
}
.SQL{
    background: url(images/SQL\ Injection.jpg);
    width:100%;
    height: 50vh;
    background-size: cover; 
}
.WaterHole{
    background: url(images/Water\ Hole.jpg);
    width:100%;
    height: 50vh;
    background-size: cover; 
}
.apps{
    background: url(images/password\ 2.jpg);
    width:100%;
    height: 50vh;
    background-size: cover;  
}
.hero-prevention{
    background: url(images/Prevention.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
}
.passwords{
    background: url(images/password3.jpg);
    width:100%;
    height: 50vh;
    background-size: cover;  
}
.updates{
    background: url(images/Updates.jpg);
    width:100%;
    height: 50vh;
    background-size: cover;   
}
.twofactor{
    background: url(images/2fa.jpg);
    width:100%;
    height: 50vh;
    background-size: cover;  
}
.software{
    background: url(images/Apps.jpg);
    width:100%;
    height: 60vh;
    background-size: cover;   
}
.onlineawareness{
    background: url(images/Online\ Awareness.jpg);
    width:100%;
    height: 50vh;
    background-size: cover;   
}
@media screen and (max-width: 800px) {
  
    * {
     display: flex;
     flex-wrap: wrap;
     justify-content:center;
      min-height: auto;
      width: 100%;
    }
  }





